/*
    Global CSS for COM1008 website
    Chris Heppell & Robbie Thandi
    Copyright 2017
*/


/* Global Styles */

body {
  /* Native font stack is widely used and uses system fonts for the website */
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
h1 {
  font-size: 2.5rem;
  margin: 0 0 1rem 0;
}
h2 {
  font-size: 2rem;
  margin: 0 0 1rem 0;
}
h3 {
  font-size: 1.75rem;
  margin: 0 0 1rem 0;
}
h4 {
  font-size: 1.5rem;
  margin: 0 0 1rem 0;
}
h5 {
  font-size: 1.25rem;
  margin: 0 0 1rem 0;
}
h6 {
  font-size: 1rem;
  margin: 0 0 1rem 0;
}
p  {
  font-size: 1rem;
  margin: 0 0 1rem 0;
}
